<div class="w3-container w3-content" style="max-width:1000px; background-color: #f2f9ff;" id="contact">
    <h2 class="w3-wide w3-center w3-padding-top-32 w3-animate-left" id="Kontakt">KONTAKT</h2>
    <div class="w3-row">
      <div class="w3-col m6 w3-large w3-margin-bottom w3-padding-top-32 w3-animate-left">
        <i class="fa fa-map-marker" style="width:30px"></i><a href="https://maps.app.goo.gl/RgHEXSsdUnnjCEoz8">Hindenburgstr. 1 </a><br> 
        <i class="fa fa-map-marker" style="width:30px"></i>67433 Neustadt an der Weinstraße <br> 
        <i class="fa fa-phone" style="width:30px"></i> Tel: <a href="tel:+4963212339"> 06321/2339 </a><br>
        <i class="fa fa-fax" style="width:30px"></i> Fax: 06321/7229 <br>
        <i class="fa fa-envelope" style="width:30px"> </i> <a href="mailto:AnmeldungPassberg@t-online.de">AnmeldungPassberg@t-online.de</a> <br>
      </div>
      <div class="w3-col m6 w3-animate-right" style="padding-top: 16px;">
        <table class="w3-table w3-border w3-large">
          <tr>
            <td> Montag:</td>
            <td>8.00 - 17.00 Uhr</td>
          </tr>
          <tr>
            <td>Dienstag</td>
            <td>8.00 - 17.00 Uhr</td>
          </tr>
          <tr>
            <td>Mittwoch</td>
            <td> 8.00 - 15.00 Uhr</td>
          </tr>
          <tr>
            <td>Donnerstag</td>
            <td>8.00 - 17.00 Uhr</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="w3-container w3-content w3-padding-32 w3-animate-bottom" style="max-width:1000px; background-color: #f2f9ff;" id="contact">
    <h3 class="w3-center">Senden sie uns eine Nachricht</h3>
    <form action="{% url 'home' %}" method="post">
      <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
        <div class="w3-half">
          <input class="w3-input w3-border" type="text" placeholder="Name" required name="Name">
        </div>
        <div class="w3-half">
          <input class="w3-input w3-border" type="text" placeholder="Email" required name="Email">
        </div>
      </div>
      <input class="w3-input w3-border" type="text" placeholder="Nachricht" required name="Nachricht">
      <button class="w3-button w3-section w3-right" type="submit" style="background-color: #20313d; color: white;">SENDEN</button>
    </form>
  </div>