<div class="w3-top">
    <div class="w3-bar w3-black w3-card">
        <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right w3-large" href="javascript:void(0)" onclick="navbar()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
        <div style="max-width: 1000px; margin: auto;">
            <a href="{% url 'home' %}" class="w3-bar-item w3-button w3-padding-large w3-large">Startseite</a>
            <a href="{% url 'impressum' %}" class="w3-bar-item w3-button w3-padding-large w3-large w3-hide-small w3-right">Impressum</a>
            <a href="{% url 'kontakt' %}" class="w3-bar-item w3-button w3-padding-large w3-large w3-hide-small w3-right">Kontakt</a>
            <a href="{% url 'leistungen' %}" class="w3-bar-item w3-button w3-padding-large w3-large w3-hide-small w3-right">Leistungen</a>
        </div>
    </div>
  </div>

<div id="navbar" class="w3-bar-block w3-black w3-hide w3-hide-large w3-hide-medium w3-top w3-large" style="margin-top:51px">
    <a href="{% url 'leistungen' %}" class="w3-bar-item w3-button w3-padding-large w3-large w3-border-top" onclick="navbar()">Leistungen</a>
    <a href="{% url 'kontakt' %}" class="w3-bar-item w3-button w3-padding-large w3-large w3-border-top" onclick="navbar()">Kontakt</a>
    <a href="{% url 'impressum' %}" class="w3-bar-item w3-button w3-padding-large w3-large w3-border-top" onclick="navbar()">Impressum</a>
</div>

<div style="margin: 50px;"></div>

<script>
    function navbar() {
        var x = document.getElementById("navbar");
        if (x.className.indexOf("w3-show") == -1) {
            x.className += " w3-show";
        } else { 
            x.className = x.className.replace(" w3-show", "");
        }
    }
</script>