{% extends "main.html" %}
{% block content %}
<div class="w3-container w3-content" style="max-width:1000px; background-color: #f2f9ff;" id="contact">
    <h2> Impressum </h2>
    <p style="text-align: justify;">Dr. med. Frank Paßberg<br>
    Hindenburgstr. 1<br>
    67433 Neustadt an der Weinstraße<br>
    <br>
    Telefon:&nbsp;06321/2339<br>
    Fax:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;06321/7229<br>
    E-Mail:&nbsp;&nbsp;<a href="mailto:AnmeldungPassberg@t-online.de">&nbsp;AnmeldungPassberg@t-online.de</a><br>
    <br>
    &nbsp;<br>
    <strong>Verantwortlich:</strong><br>
    Dr. Frank Paßberg</p>
    <p>Hindenburgstr.1</p>
    <p>67433 Neustadt</p>
    <p><strong>Staat in dem die Berufsbezeichnung verliehen wurde:</strong></p>
    <p>Bundesrepublik Deutschland</p>
    <p><strong>Ausbildungsstätten:</strong></p>
    <p>Studium und Promotion an der Unversität Heidelberg/Mannheim</p>
    <p><strong>Kammer und Berufsordnung:</strong></p>
    <p><a href="http://www.laek-rlp.de" target="_blank">Landesärztekammer Rheinland-Pfalz</a></p>
    <p><strong>Zuständige Aufsichtsbehörde):</strong></p>
    <p><a href="http://www.kv-rlp.de" target="_blank">Kassenärztlichen Vereinigung Rheinland-Pfalz</a></p>
    <p><strong>Berufsrechtliche Regelung:</strong></p>
    <p>Berufsordnung&nbsp; der <a href="http://www.laek-rlp.de" target="_blank">Landeärztekammer Rheinland-Pfalz.</a></p>
    <p>&nbsp;</p>
    <p><strong>Haftungsausschluss:</strong></p>
    <p>Dieses Webseite wurde mit größtmöglicher Sorgfalt erstellt. Für die Fehlerfreiheit und Genauigkeit der Informationen wird keine Garantie übernommen. Wir schließen jegliche Haftung für Schäden, die
    direkt oder indirekt aus der Benutzung dieser Webseite entstehen aus, soweit diese nicht auf Vorsatz oder grober Fahrlässigkeit beruhen.</p>
    <p>&nbsp;</p>
    <p><strong>Urheberrecht:</strong></p>
    <p>Der Besucher dieser Webseite erkennt an, dass es sich bei dieser Webseite um eine persönliche geistige Schöpfung im Sinne des § 2 II Urhebergesetz handelt. Alle Rechte bleiben vorbehalten.</p>
    <p>&nbsp;</p>
    <p><strong>Datenschutzerklärung:</strong></p>
    <p>Diese Datenschutserklärung gilt für das Internet-Angebot www.dr-passberg.de. Dieser ist für die Inhalte dieses Internet-Angebots verantwortlich. Verweise auf fremde Inhalte sind kenntlich gemacht.
    (s.u.).</p>
    <p><strong>Datenverarbeitung im Auftrag:</strong></p>
    <p>Dieses Internet-Angebot wird im Wege der Auftragsdatenverarbeitung von 1&amp;1 Internet SE als technischem Dienstleister vorgehalten. Dabei findet keine über das in dieser Erklärung dargestellte
    Maß hinausgehende Speicherung und Verarbeitung personenbezogener Daten statt.</p>
    <p><strong>Erhebung von Nutzungsdaten/Nutzungsanalyse</strong></p>
    <p>Beim Zugriff auf unser Internetangebot erfassen wir folgende Daten in einer Protokolldatei:</p>
    <p>- IP-Adresse in anonymisierter (verkürzter) Form</p>
    <p>- Zeitpunkt des Zugriffs</p>
    <p>- aufgerufene Seite bzw. Name der abgerufenen Dateien (URL)</p>
    <p>- Status Informationen (z.B. Fehlercodes)</p>
    <p>- übertragene Datenmengen</p>
    <p>- Browser-Informationen (genutzter Web-Browser, Betriebssystem, Spracheinstellungen etc.)</p>
    <p>Die Daten werden ausschließlich für statistische Zwecke genutzt. Eine Weitergabe an Dritte erfolgt nicht. Dieses Internetangebot verwendet keine Techniken, die darauf abziehlen, das
    Zugriffsverhalten einzelner Nutzer auszuwerten. Personenbezogene Nutzungsprofile werden nicht erstellt.</p>
    <p><strong>Links zu anderen Webseiten:</strong></p>
    <p style="text-align: justify;">Unser Internet-Angebot enthält enthält Verweise zu Hinweisen anderer Anbieter. Diese sind durch die Angabe explizieter Links (z.B.. www.internetseite.de) oder anhand
    entsprechender Hinweise im Text erkennbar. Außerdem werden externe Verweise in einem eigenen Browserfenster geöffnet. Die Nutzung dieser fremden Inhalte unterliegt gegebenenfalls anderen Vorgaben,
    das den hier dargestellten.</p>
    <p><strong>Cookies</strong></p>
    <p style="text-align: justify;">In bestimmten Fällen werden sogenannte temporäre Cookies verwendet. Diese enthalten keine personenbezogenen Daten und werden nach Ablauf der Sitzung&nbsp; mit dem
    Schließen Ihres Web-Browsers automatisch gelöscht.</p>
    <p style="text-align: justify;">Im Falle einer Verlinkung können Cookies von Drittanbietern zum Einsatz kommen, ohne dass wir Sie ausdrücklich darauf&nbsp; hinweisen können. Die gängigen Browser
    erlauben es, die Verarbeitung solcher Cookies festzulegen, so dass Sie das Speichern dieser Cookies deaktivieren bzw. die Art der Verarbeitung durch ihren Browser einstellen können.</p>
    <p style="text-align: justify;"><strong>Erhebung personenbezogener Daten in Online-Formularen</strong></p>
    <p style="text-align: justify;">Soweit wir Sie im Rahmen dieses Angebotes um die Angaben personenbezogener Daten bitten (z.B. Name, Anschrift oder E-Mail-Adresse), sagen wir Ihnen im jeweiligen
    Online-Formular, für welchen Zweck wir diese erheben und wie wir sie verarbeiten. Es unterliegt Ihrer freien Entscheidung, ob Sie diese Daten angeben.</p>
    <p style="text-align: justify;"><strong>Auskunftsrechte</strong></p>
    <p style="text-align: justify;">Auskunftsrechte können schriftlich oder per E-Mail gegenüber den im Impressum genannten Stellen geltend gemacht werden. Dies gilt auch für Widersprüche zu einer
    erteilten Einwilligungserklärung.</p>
    <p style="text-align: justify;"><strong>Verschlüsselungen</strong></p>
    <p style="text-align: justify;">Dieses Angebot untersützt den gesicherten Zugriff über das HTTPS/SSL-Protokoll sowie die Verschlüsselung von E-Mails mit PGP/GnuPG.</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p> 
</div>
{% endblock content %}