{% extends "main.html" %}
{% block content %}

<div class="w3-content w3-padding-top-32 w3-animate-right" style="max-width:1000px; "> 
    <div class="w3-container">
        <button onclick="Accordion ('A1')" class="w3-left-align w3-block w3-button w3-border w3-border-black w3-round-large leistungen-farbe"> <h3>Allgemeine Leistungen</h3> </button>
        <div id="A1" class="w3-hide w3-container w3-round-xlarge leistungen-farbe">
            <h3>Körperliche Untersuchung und Beratung</h3>
            <ul>
                <li>Labordiagnostik</li>
                <li>Blut- und Stuhluntersuchung</li>
                <li>Laktase-Biopsie Schnelltest</li>
            </ul>
            <h3>Endoskopische Untersuchungen</h3>
            <ul>
                <li>Sanfte Gastroskopie. Untersuchung in Sedierung oder Kurznarkose</li>
                <li>Sanfte Koloskopie. Untersuchung in Sedierung oder Kurznarkose</li>
                <li>Polypektomie. Endoskopische Abtragung von Polypen</li>
                <li>Endoskopische Blutstillung durch Unterspritzung oder durch Endoclip</li>
            </ul>
            <h3>Sonographie (Ultraschall)</h3>
            <ul>
                <li>Ultraschalluntersuchung der Bauchorgane, Gefäße und Nieren</li>
            </ul>
            <h3>Diagnostik und Therapie chronisch entzündlicher Darmerkrankungen</h3>
            <ul>
                <li>Morbus Crohn</li>
                <li>Colitis ulcerosa﻿</li>
            </ul>
        </div>
        <div class="w3-margin"></div>
        <button onclick="Accordion ('A2')" class="w3-left-align w3-block w3-button w3-border w3-border-black w3-round-large leistungen-farbe"> <h3>Magenspiegelung</h3> </button>
        <div id="A2" class="w3-hide w3-container w3-round-xlarge leistungen-farbe">
            <p>Bei einer Magenspiegelung (Gastroskopie) wird mit einem flexiblen Schlauch (Endoskop), an dessen Spitze sich eine Videooptik befindet, Speiseröhre, Magen und Zwölffingerdarm untersucht. Die Bilder
                werden dann in Echtzeit über einen Videoprozessor auf einen Bildschirm übertragen.</p>
            <p>Damit der Patient eine streßfreie und schmerzlose Untersuchung erhält, wird heute in den meisten Fällen in Sedierung oder besser noch in Kurznarkose untersucht.</p>
            <p>Bei einer Narkose wird der schlafende Patient dabei leitliniengerecht überwacht (EKG, automatische Blutdruckmessung und Pulsoximetrie), gleichzeitig bekommt er Sauerstoff über eine Nasensonde und
                eine Infusion.</p>
            <p>Während Sie schlafen, kann der Untersucher dann die Schleimhäute in Speiseröhre, Magen und Zwölffingerdarm anschauen und an jeder Stelle Proben entnehmen. Die Probeentnahme ist völlig
                schmerzlos.</p>
            <p>Nach ca. 5 Minuten ist die Gastroskopie in der Regel beendet. Nach wenigen Minuten sind Sie dann wieder wach und nach etwa einer Stunde können Sie die Praxis schon wieder verlassen.</p>
            <p>Eine Krankmeldung erfolgt üblicherweise für den Untersuchungstag.</p>
        </div>
        <div class="w3-margin"></div>
        <button onclick="Accordion ('A3')" class="w3-left-align w3-block w3-button w3-border w3-border-black w3-round-large leistungen-farbe"> <h3>Darmspiegelung</h3> </button>
        <div id="A3" class="w3-hide w3-container w3-round-xlarge leistungen-farbe">
            <p>Bei einer Koloskopie wird der gesamte Dickdarm und der angrenzende Dünndarm mit einem flexiblem Schlauch, an dessen Spitze sich eine Videooptik befindet, untersucht. Der Untersucher sieht die
            Bilder auf einem Videomonitor und steuert das Koloskop unter Sicht durch den Darm.</p>
            <p>Damit der Arzt überhaupt etwas sehen kann, muss der Patient zuvor abführen. Wie der Patient abführen muss und&nbsp;wie die Untersuchung im Einzelnen abläuft, wird mit jedem Patienten in einem
            persönlichen Vorgespräch mit&nbsp;Herrn Dr. Paßberg&nbsp;ausführlich besprochen.</p>
            <p>Bitte bringen Sie zu einem solchen Vorgespräch auch ihren Medikamentenplan mit. Bestimmte Medikamente müssen vor einer geplanten Koloskopie abgesetzt werden. Auch wird im Rahmen des Vorgesprächs
            besprochen, ob die Untersuchung gegebenenfalls in einer Sedierung oder in einer Kurznarkose durchgeführt werden soll.</p>
            <p>Die eigentliche Untersuchung findet im Liegen statt. Sie bekommen von uns eine Einmalunterhose.</p>
            <p>T-Shirt, Hemd oder Pullover können Sie anlassen. Danach bekommt jeder Patient einen venösen Zugang gelegt.</p>
            <p>Bei einer Untersuchung in Kurznarkose werden Sie dann am Monitor überwacht. Es werden EKG, Blutdruck und die Sauerstoffsättigung im Blut gemessen. Weiterhin erhalten Sie Sauerstoff über eine
            Sauerstoffbrille und eine Infusion.</p>
            <p>Wenn Sie dann schlafen, kann der Untersucher für Sie völlig schmerzfrei den ganzen Dickdarm und den angrenzenden Dünndarm anschauen. Falls nötig werden Proben entnommen. <a href="https://www.dr-passberg.de/leistungen/polypenabtragung/">Polypen</a> werden entweder mit einer Biopsiezange oder mit einer elektrischen Schlinge abgetragen. Sämtliche Probeentnahmen oder Abtragungen sind für den Patienten völlig
            schmerzfrei.</p>
            <p>Eine Darmspiegelung dauert in der Regel 20 bis 30 Minuten. Nach der Untersuchung in Kurznarkose sind sie nach ca. 5 Minuten wieder wach. Nach etwa einer Stunde können Sie die Praxis wieder
            verlassen.</p>
            <p>Bitte beachten Sie, dass Sie am Untersuchungstag nicht selbst Auto fahren dürfen. Für den Untersuchungstag erhalten Sie eine Krankmeldung.</p> 
        </div>
        <div class="w3-margin"></div>
        <button onclick="Accordion ('A4')" class="w3-left-align w3-block w3-button w3-border w3-border-black w3-round-large leistungen-farbe"> <h3>Vorsorgedarmspiegelung</h3> </button>
        <div id="A4" class="w3-hide w3-container w3-round-xlarge leistungen-farbe">
            <p>Jährlich erkranken in Deutschland&nbsp;ca. 65.000&nbsp;Menschen&nbsp;neu an Darmkrebs. Mehr als 25.000 sterben daran. Die Gefahr, im Laufe seines Lebens&nbsp;selbst an Darmkrebs zu erkranken,
            liegt bei ca. 6%. Damit ist Darmkrebs in Deutschland die zweithäufigste Krebserkrankung.</p>
            <p>Ab dem 50. Lebensjahr nimmt die Wahrscheinlichkeit an einem Darmkrebs zu erkranken deutlich zu. Da dieser bösartige Tumor in den meisten Fällen aus gutartigen Polypen hervorgeht, sind wir heute
            durch rechtzeitiges Entfernen dieser Polypen in der Lage, Darmkrebs zu verhindern, bevor er entsteht.</p>
            <p>In Deutschland werden Vorsorgekoloskopien von den Krankenkassen ab dem 55. Lebensjahr bezahlt. Sollte bei dieser Untersuchung keine Polyp gefunden werden und liegt keine familiäre Vorbelastung
            vor, dann ist eine Kontrolluntersuchung erst in 10 Jahren notwendig. Wurden bei der Untersuchung Polypen festgestellt und abgetragen, dann erfolgt eine Kontrolle gemäß den <a href="http://www.dgvs.de" target="_blank">Leitlinien der Deutschen Gesellschaft für Verdauungs- und Stoffwechselerkrankungen</a>.</p> 
        </div>
        <div class="w3-margin"></div>
        <button onclick="Accordion ('A5')" class="w3-left-align w3-block w3-button w3-border w3-border-black w3-round-large leistungen-farbe"> <h3>Polypenabtragung</h3> </button>
        <div id="A5" class="w3-hide w3-container w3-round-xlarge leistungen-farbe">
            <p>Einer der größten Vorteile einer endoskopischen Untersuchung am Verdauungstrakt ist die Tatsache, dass es sich hierbei nicht nur um eine diagnostische, sondern auch um eine therapeutische Maßnahme
            handelt. Das bedeutet, werden bei einer Magen- oder Darmspiegelung krankhafte Veränderungen - z.B. Polypen - festgestellt, dann können diese sofort in der gleichen Untersuchung schmerzfrei abgetragen
            werden. Bei etwa jedem dritten Patient findet sich bei einer Koloskopie ein abtragungswürdiger Befund.</p>
            <p>Sehr kleine Polypen, sogenannte Polypenknospen werden mit einer Biopsiezange entfernt. Bei größeren Polypen kommt dann eine sogenannte Diathermieschlinge zum Einsatz. Hierbei wird das&nbsp;
            krankhafte Gewebe unter Einsatz von Strom entfernt. Durch Anwendung eines Elektrotoms mit einer computergesteuerten Abtragungssoftware gelingt heute die sichere, vollständige und bluttrockene
            Abtragung von Polypen verschiedener Größen. Die abgetragenen Polypen werden dann geborgen und feingeweblich von einem Pathologen untersucht.</p>
            <p>Um die Sicherheit und Vollständigkeit der Abtragung weiter zu erhöhen, werden die meisten Befunde vor der Abtragung noch unterspritzt.</p>
            <p>Gerade bei größeren Polypen ist es in bestimmten Fällen notwendig, die Abtragungsstelle mit einem sogenannten Endoclip zu sichern.</p>
            <p>Nach einer endoskopischen Abtragung kann der Patient in der Regel nach ca. einer Stunde die Praxis wieder verlassen.</p> 
        </div>
        <div class="w3-margin"></div>
        <button onclick="Accordion ('A6')" class="w3-left-align w3-block w3-button w3-border w3-border-black w3-round-large leistungen-farbe"> <h3>Kurznarkose</h3> </button>
        <div id="A6" class="w3-hide w3-container w3-round-xlarge leistungen-farbe">
            <p>Heute muss kein Patient mehr Angst vor einer unangenehmen oder schmerzhaften Untersuchung haben. Seit einigen Jahren besteht die Möglichkeit eine endoskopische Untersuchung in Kurznarkose
            durchzuführen. Ein modernes Narkotikum hat nur noch eine Halbwertszeit von ca. 3 Minuten. Während der Untersuchung wird das Narkosemittel immer wieder bei Bedarf nachgespritzt.</p>
            <p>Eine Kurznarkose bietet gegenüber einer Untersuchung am wachen oder nur sedierten Patienten zahlreiche Vorteile.</p>
            <ul>
            <li>Bei einer Kurznarkose schläft der Patient während der Untersuchung und empfindet keinerlei Schmerzen.</li>
            <li>Eine Kurznarkose ist aufgrund der sehr kurzen Wirkdauer des Narkotikums wesentlich verträglicher und besser steuerbar als eine Untersuchung in Sedierung.</li>
            <li>Bei einer endoskopischen Untersuchung in Kurznarkose ist der Patient wesentlich genauer zu untersuchen als ein wacher oder nur sedierter Patient. Das liegt im wesentlichen daran, dass ein
            narkotisierter Patient bei einer Gastroskopie&nbsp;nicht würgen muss. Bei einer Koloskopie kann der Untersucher sämtliche Darmschlingen begradigen, ohne dass der Patient Schmerzen verspürt. Daraus
            resultiert letztendlich eine wesentlich bessere Übersicht und Genauigkeit der Untersuchung.</li>
            </ul>
            <p>Während der Kurznarkose werden Sie mit einer EKG Ableitung, einer automatischen Blutdruckmessung und einer Pulsoxymetrie überwacht, Sie bekommen Sauerstoff über eine Sauerstoffbrille und eine
            Infusion.</p>
            <p>Nach einer Kurznarkose sind Sie wesentlich schneller wieder fit als nach einer Sedierung. Dies liegt an der kurzen Halbwertszeit des Narkotikum. Nach etwa fünf Minuten sind Sie wieder wach. Nach
            20 bis 30 Minuten ist das Narkosemittel im Körper&nbsp;abgebaut und nach einer Stunde können Sie die Praxis wieder verlassen. Sie dürfen jedoch den ganzen restlichen Tag nicht selbst Auto fahren.</p>
            <p>Aufgrund die der zahlreichen Vorteile einer Kurznarkose gegenüber einer Untersuchung am wachen oder sedierten Patienten werden heute fast alle Endoskopien in einer Kurznarkose durchgeführt.</p>
            <p>Für weitere Fragen zu einer&nbsp;Sedierung oder Kurznarkose&nbsp;steht Ihnen unser Team und Herr Dr. Paßberg gerne zur Verfügung.</p>
            <p><strong>﻿</strong></p> 
        </div>
        <div class="w3-margin"></div>
        <button onclick="Accordion ('A7')" class="w3-left-align w3-block w3-button w3-border w3-border-black w3-round-large leistungen-farbe"> <h3>Hygiene</h3> </button>
        <div id="A7" class="w3-hide w3-container w3-round-xlarge leistungen-farbe" >
            <p>Die einwandfreie hygienische Aufbereitung von Endoskopen und Endoskopiezubehör spielt in unserer Praxis eine zentrale Rolle. Hierbei kommt unserem <a href="https://www.dr-passberg.de/patienteninfo/qualitätsmanagement/">Qualitätsmanagement</a> eine wesentliche Funktion zu. In genau festgelegten Arbeitsanweisungen werden die Endoskopie und das Zubehör nach den Richtlinien des <a href="http://www.rki.de" target="_blank">Robert-Koch-Institutes</a> gereinigt, desinfiziert und sterilisiert.</p>
            <p>Für die Endoskop Aufbereitung steht uns ein vollautomatischer Thermodesinfektor Innova E3 zur Verfügung. Das notwendige Wasser wird in einer eignen Osmoseanlage vollentsalzt und vor dem Einsatz im
            Desinfektor sterilisiert. &nbsp;In wöchentlichen Selbstkontrollen und in halbjährigen Kontrollen des Medizinal-Untersuchungsamtes in Landau wird die hygienisch einwandfreie Koloskop Aufbereitung
            überprüft. Das jeweils aktuelle Zertifikat hängt in der Anmeldung in der Praxis aus. Seit Einführung dieser Kontrollen gab es noch nie eine Beanstandung. Im Anschluß an die Reinigung und Desinfektion
            werden die Endoskope vollständig getrocknet, um dann - in speziellen Endoskopschränken hängend gelagert - auf ihren nächsten Einsatz zu warten.</p>
            <p>Zur Aufbereitung von nicht thermolabilen Instrumenten und Zubehör wird ein Eurokav 29V-S der Firma Melag eingesetzt. Auch hier erfolgen wöchentliche Selbstkontrollen.</p>
            <p>Bei hygienisch besonders sensiblen, die Schleimhaut penetrierenden Instrumenten werden nur sterile Einmalinstrumente verwendet.</p>
            <p>Für die übrigen routinemäßigen Reinigungsarbeiten und die persönliche Händereinigung und Händedesinfektion steht ein sorgfältig ausgearbeiteter Hygieneplan zur Verfügung. Dieser ist in unserem
            Qualitätsmanagement dokumentiert.</p>
            <p>Weiterhin hängen - gut sichtbar für alle Patienten - in jedem Untersuchungsraum, in den Aufwachräumen und in der Endoskopie Listen, in denen die Reinigung und&nbsp;Desinfektion&nbsp;der
            Untersuchungsliegen und der Arbeitsplatten&nbsp;nach jedem Patient mit Uhrzeit und Handzeichen der Mitarbeiterin dokumentiert sind.</p>
            <p>Die tägliche Reinigung der Praxis wurde an eine zertifizierte Reinigungsfirma vergeben, die nach den Vorgaben unseres Hygiene- und Putzplans durchgeführt wird.</p> 
        </div>
    </div> 
</div>

<script>
    function Accordion (id) {
      var x = document.getElementById(id);
      if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
      } else { 
        x.className = x.className.replace(" w3-show", "");
      }
    }
    </script>

{% endblock content %}